#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  padding: 10px;
}

.all_articles {
  background-color: rgba(94, 143, 94, 0.332);
  padding: 10px 20px;
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.article_cards {
  margin: 10px 0;
  flex: 1 1 30%;
  margin: 5px;
  padding: 5px 10px;
  background-color: rgba(218, 165, 32, 0.592);
}
